<h1><%= t('listing_articles') %></h1>

<table>
  <tr>
    <th><%= t('title') %></th>
    <th><%= t('text') %></th>
    <th><%= t('author') %></th>
    <th><%= t('state') %></th>

  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.author_name %></td>
      <td><%= article.state %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
       <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to t('new_article'), new_article_path %>