<p>
  <strong><%= t('title') %></strong>
  <%= @article.title %>
</p>

<p>
  <strong><%= t('text') %>:</strong>
  <%= @article.text %>
</p>

<p>
  <strong><%= t('author_name') %></strong>
  <%= @article.author_name %>
</p>

<p>
    <strong><%= t('state') %></strong>
    <%= @article.state %>
</p>

<h2><%= t('comments') %></h2>
<%= render @article.comments %> 

<h2><%= t('add_a_comment') %></h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path%>


